/* Some Fonts :} */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&display=swap');

@media only screen and (min-width: 250px) {
    body{
        background-color: rgb(94, 94, 94);
        text-align: center;
        align-items: center;
     }

    }

.maintitle{
    font-family: 'Anton';
    font-size: 35px;
    text-align: center;
    font-size-adjust: initial;
}

p{
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .grid_items, .wrap {
      grid-template-columns: 47.5% 47.5%;
      max-width: 900px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: left;
    }
    .grid_items > div {
      padding: 10px;
    }
  }

  .chart{
    background-color: rgb(207, 207, 207);
    border-width: 2.5px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 4px;
    align-items:baseline;
  }



  a{
    background-color: rgba(rgb(128, 33, 20), 0.6);
    padding: 5px;

    border: 3px;
    border-radius: 10px;
    border-style: inset;
    border-color: rgb(0, 0, 0);

    font-family: 'Anton';
    font-size: 20px;
    color: black;
}

a:hover{
    background-color: rgba(rgb(20, 128, 47), 0.8);

    border: 3px;
    border-color: rgb(177, 97, 7);
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.6s;

}